{% load static %}
<link rel="stylesheet" href="{% static 'css/global/footer.css'%}">
<script src="https://api-maps.yandex.ru/2.1/?apikey=d17123bd-3142-47c8-9496-8cb21e6d450f&lang=ru_RU"
 type="text/javascript"></script>
<footer class="base">
    <div class="container">
        <div class="footer-body py-3">
            <ul class="list-link-footer">
                <h2>Ссылки:</h2>
                <li class="nav-item"><a href="{% url 'home' %}">Главная</a></li>
                <li class="nav-item"><a href="{% url 'home' %}">Мастера</a></li>
                <li class="nav-item"><a href="{% url 'about' %}">О нас</a></li>
            </ul>
        </div>
        <p class="text-center text-body-secondary">&copy; 2024 BARAKA, Inc</p>
    </div>
  </footer>

<script>
  ymaps.ready(init);
  function init() {
      var myMap = new ymaps.Map("map", {
        center: [{{ request.session.salon.latitude }}, {{ request.session.salon.longitude }}],
        zoom: 15,
        controls: [],
        zoomRange: [10,15]
      });

      var myPlacemark = new ymaps.Placemark([{{ request.session.salon.latitude }}, {{ request.session.salon.longitude }}], {
          hintContent: 'Содержимое всплывающей подсказки',
          balloonContent: 'Содержимое балуна'
      });
      
      myMap.geoObjects.add(myPlacemark);
  }
</script>

<style>
  @media (max-width: 750px) {
    .map {
      display: none;
      background-color: none;
    }
  }
  #map {
    width: 800px;
    height: 200px;
  }
  .map {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 300px;
    border-radius: 10px;
    background: #FFF;
  }
</style>
