{% load static %}
<header class="asdsadsasad">
  <link rel="stylesheet" href="{% static 'css/global/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">
  <nav>
    <a href="/"><h1 class="logo">BARAKA</h1></a>
    <ul class="list">
      <li><a href="#modaltab" id="openModalBtn">{% if request.session.salon.name %}{{request.session.salon.name}}{% else %}Выберите салон{% endif %}</a></li>
      <li><a href="{% url 'masters' %}">Мастера</a></li>
      <li><a href="{% url 'about' %}">О нас</a></li>
      <li><a href="#">{% if request.user.is_authenticated %}Профиль{% else %}Войти{% endif %}</a></li>
    </ul>
    <button class="menu" onclick="toggleMenu()">Menu</button>
  </nav>
  <div id="modal" class="modal">
    <div class="modal-content">
      <div class="modal-title">
        <h3>Изменить салон</h3>
        <span class="close">&times;</span>
      </div>
      <div class="choices-new">
        <form class="modal-form" id="salonForm" method="post" action="{% url 'select_salon' %}">
          {% csrf_token %}
          {{salon_form.as_div}}
        <button type="submit" class="submit-button"><span>Выбрать</span><em id="selectedSalon">Выбранный салон:</em></button>
        </form> 
      </div>
    </div>
  </div>
  <script src="{% static 'js/header.js' %}"></script>
  <script src="{% static 'js/modal.js' %}"></script>
</header>