{% load static %}
<div id="UserModal" class="modal base">
    <div class="modal-content user-content">
      <div class="tab">
        {% if request.user.is_authenticated %}
            <div class="site-button btn-one tablinks" onclick="openTab(event, 'profile')" id="defaultOpen"><a href="###">Профиль</a></div>
            <div class="site-button btn-one tablinks" onclick="openTab(event, 'settings')"><a>Настройки</a></div>
            {% if 'Мастер' in request.user.groups.all|join:", " %}
            <!-- Добавляем новую кнопку, если пользователь в группе "Мастер" -->
            <div class="site-button btn-one tablinks" onclick="openTab(event, 'master')"><a>Мастер</a></div>
            {% endif %}
            
            <div class="site-button btn-one tablinks" onclick="openTab(event, 'logout')"><a>Выход</a></div>
        {% else %}
            <div class="site-button btn-one tablinks" onclick="openTab(event, 'login')" id="defaultOpen"><a href="#">Вход</a></div>
            <div class="site-button btn-one tablinks" onclick="openTab(event, 'register')"><a href="#" >Регистрация</a></div>
        {% endif %}
      </div>
      
      {% if is_master %}
        {% include 'components/global/modal/tab.master.html' %}
        {% include 'components/global/modal/tab.appointments.html' %}
      {% endif %}
      
      {% include 'components/global/modal/tab.profile.html' %}
      {% include 'components/global/modal/tab.settings.html' %}
      {% include 'components/global/modal/tab.logout.html' %}
      {% include 'components/global/modal/tab.login.html' %}
      {% include 'components/global/modal/tab.register.html' %}
      <span id="close" class="close modal-close">&times;</span>
  </div>
  <style>
    .tab-form {
        display: flex;
        width: 100%;
    }
    .tab-form form {
        width: 100%;
    }
    .tabcontent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .column {
        float: left;
        width: 50%;
        box-sizing: border-box;
    }
    
    .user-content {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        
    }
    .tab {
        display: flex;
        flex-direction: column;
        width: 30%;
    }
      
      .tab div:hover {
        background-color: var(--secondary);
      }
      
      .tab div.active {
        background-color: var(--secondary);
      }
      
      .tabcontent {
        display: none;
        border: 1px solid #ccc;
        width: 100%;
        
      }

      @media screen and (max-width: 750px) {
        .tab {
            width: 100%;
        }
        .user-content {
            flex-direction: column;
        }
      }

</style>