<h1>Почему именно мы</h1>
<div class="container px-4 py-5" id="hanging-icons">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        {% for about in abouts %}
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
              <img src="{{ about.icon.url }}" alt="Иконка" class="bi">
            </div>
            <div>
              <h3 class="fs-2 text-body-emphasis">{{about.title}}</h3>
              <p>{{about.short_description }}</p>
              <a href="{% url 'about-info' about.pk %}" class="btn btn-primary">
                Узнать больше
              </a>
            </div>
        </div>
        {%endfor%}
    </div>
</div>