{% extends 'base.html'%}
{% load static %}
{%block content%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
    <div class="slider">
        {% include 'components/slider.html' with slides=slides %}
    </div>
    <div class="notify">
        {% include 'components/notify.html' with message=message %}
    </div>
    <div class="container-about">
        <h1>Почему именно мы</h1>
        {% include 'home/about.block.html' with abouts=abouts %}
    </div>
    <div class="container-masters">
        <h1>Наши лучшие мастера</h1>
        {% include 'components/master/slider.html' with slides=masters %}
    </div>
        {% include 'components/form.html' with form=appointment_form link='appointment' title='Записаться на сеанс' %}
{%endblock%}
