{% extends 'base.html'%}
{% load static %}
{% load del %}
{%block header%}
{% include 'components/global/header.html' with form=salon_form %}
{%endblock%}
{%block content%}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
    <div class="slider">
        {% include 'components/slider.html' with slides=slides %}
    </div>
    <div class="notify">
        {% include 'components/notify.html' with message=message %}
    </div>
    <div class="container-about">
        <h1>Почему именно мы</h1>
        {% include 'home/about.block.html' with abouts=abouts %}
    </div>
    <div class="container-masters">
        <h1>Наши лучшие мастера</h1>
        {% include 'home/masters.block.html' with masters=masters %}
    </div>
    <div class="note-form">
        {% include 'components/form.html' with form=appointment_form link='appointment' title='Записаться на сеанс' %}
    </div>
{%endblock%}
{%block footer%}
{% include 'components/global/footer.html' with info=info %}
{%endblock%}