{% load static %}
<link rel="stylesheet" href="{% static 'css/master.css' %}">
<div class="grid-container">
    {% if masters %}
        {% for master in masters %}
            <div class="master-card">
                <img src="{{master.photo.url}}" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
                <h2 class="fw-normal">{{ master.name }}</h2>
                <span> {% if master.tattoo_type.first  %}{{ master.tattoo_type.first }}{% endif %}
                    </span>
                <p>{{ master.short_description }}</p>
                <div class="site-button btn-one" onclick="window.location.href='{% url 'master-info' master.pk %}'"><a>Подробнее</a></div>
            </div>
        {% endfor %}
    {% else %}
        <div class="empty">
            <h1>В нашем салоне пока нет мастеров</h1>
        </div>
    {% endif %}
</div>