.notify {
    position: fixed;
    top: 100px;
    right: 20px;
    width: 300px;
    height: 75px;
    z-index: 99;
}

.notify-body {
    height: 100%;
    width: 100%;
    text-align: center;
}

.check {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #2B3246;
    cursor:pointer;
    color: #0ad406;
  }
  .check:hover{
    background-color: rgba(147, 209, 117, 0.50);
    transition:0.5s;
  }
  
  .color {
    animation: color 2s linear infinite;
  }
  
  
  .info {
    border-radius: 5px;
    width: 220px;
    height: 30px;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #2B3246;
    cursor:pointer;
    box-shadow:  9px 9px 18px #262c3e,
      -9px -9px 18px #30384e;
    color: rgb(82, 125, 243);
  }
  
  .spin {
    animation: spin 2s linear infinite;
  }
  
  .info:hover
  {
    background-color: rgba(82, 125, 243, 0.50);
    transition:0.5s;
  }
  
  .warning {
    border-radius: 5px;
    width: 220px;
    height: 30px;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #2B3246;
    cursor:pointer;
    box-shadow:  9px 9px 18px #262c3e,
      -9px -9px 18px #30384e;
    color: rgb(247, 149, 72);
  }
  
  .warning:hover{
    background-color: rgba(247, 149, 73, 0.50);
    transition:0.5s;
  }
  
  
  .rotate {
    animation: rotate 2s linear infinite;
  }
  .danger {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #2B3246;
    cursor:pointer;
    color: rgb(255, 10, 1);
  }
  
  .danger:hover
  {
    background-color: rgba(255, 10, 1, 0.33);
    transition:0.5s;
  }
  
  
  .shine {
    animation: shine 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes color {
    50% {
     color: #2B3246;
    }
    100% {
      color: #0ad406;
    }
  }
  
  @keyframes rotate {
   0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(90deg);
    }
    40% {
      transform: rotate(0deg);
    }
    80% {
      transform: rotate(-90deg);
    }
  }
  
  @keyframes shine {
    0% {
     color: #2B3246;
    }
    50% {
      text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 40px red,
        0 0 60px red,
        0 0 80px red;
    }
  }