footer {
  margin-top: auto;
  z-index: 2;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;

  &::before {
    content: '';
    width: 100%;
    position: absolute;
    top: 1rem;
    left: 0;
    height: 5px;
    border-top: 2px dashed #fff;
  }
}
