header {
    background-color: #161616;
}

.container {
    display: flex;
    justify-content: center;
}   

.footnote {
    padding: 20px 0;
    font-size: clamp(14px, 3vw, 20px);
    line-height: clamp(18px, 3vw, 24px);
    font-family: 'NEXT-ART', sans-serif;
    font-weight: 600;
    color: #fff;
}

.footnote:hover{
    transition: text-shadow 0.3s ease-in-out;
    &:hover {
      text-shadow: 6px 6px 6px rgba(140, 139, 139, 0.5);
    }
}

.row {
    display: flex;
    align-items: center;
    gap: 30px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .row {
        flex-direction: column;
        gap: 10px;
    }

    .footnote {
        font-size: 16px;
        line-height: 20px;
    }
}