<div id="appointments" class="tabcontent">
    <div class="tab-title">
        <h1>Мои записи</h1>
    </div>
    <div class="tab-content">
        {% for appointment in master_info.appointments %}
        <div class="appointment-card">
            <div class="card-title">
                <h3>Номер записи №{{ appointment.pk }}</h1>
            </div>
            <div class="card-body">
                
            </div>
        </div>
        {% empty %}
        <h1>У вас нет записей</h1>
        {% endfor %}
            
    </div>
</div>