<div id="appointments" class="tabcontent appointments">
    <h1 class="text">Последние записи</h1>
    <div class="tab-content appointment-content">
        {% for appointment in master_info.appointments %}
        <div class="appointment-card">
            <div class="card-title">
                <h3 class="text">Запись №{{ appointment.pk }}</h3>
                <p class="text">Статус: {% if appointment.status %}<i class="far fa-check" style="color: green; font-size: 1.5em;"></i> &nbsp; &nbsp;{% else %}<i class="far fa-times-circle" style="color: red; font-size: 1.5em;"></i>{% endif %}</p>
                <div class="site-button btn-one" onclick="window.location.href='{% url 'admin:database_appointment_change' appointment.pk %}'"><a>Подробнее</a></div>
            </div>
            <div class="card-body">
                <div class="col-md-8">
                  <h3 class="mb-0 text">Информация о клиенте</h6>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0 text">Имя клиента</h6>
                    </div>
                    <div class="col-sm-9 text-secondary text">
                        {{ appointment.client_name }}
                    </div>
                </div>
                  <hr>
                <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 text">Почта</h6>
                    </div>
                    <div class="col-sm-9 text-secondary text">
                      <a class="text" href="mailto:{{ appointment.client_email }}">{{ appointment.client_email }}</a>
                    </div>
                </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0 text">Телефон</h6>
                    </div>
                    <div class="col-sm-9 text-secondary text">
                        <a class="text" href="tel:{{ appointment.client_phone }}">{{ appointment.client_phone }}</a>
                    </div>
                </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0 text">Запись создана</h6>
                    </div>
                    <div class="col-sm-9 text-secondary text">
                        {{ appointment.created_at }}
                    </div>
                </div>
                  <hr>
                </div>
            </div>
        </div>
        
        {% empty %}
        <h1>У вас нет записей</h1>
        {% endfor %}
        <a href="{% url 'admin:database_appointment_changelist' %}">Все записи</a>
    </div>
</div>
<style>
    .appointment-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
        padding: 20px;
    }

    .appointment-card {
        display: flex;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 5px;
        gap: 30px;
        width: 100%;
    }
    .card-body {
        width: 100%;
    }

        @media screen and (max-width: 600px) {
            .appointment-card {
                flex-direction: column;
            }
        }
    .card-title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    
</style>