footer {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;

  &::before {
    content: '';
    width: 100%;
    position: absolute;
    top: 1rem;
    left: 0;
    height: 5px;
    border-top: 2px dashed #fff;
  }

  ul {
    list-style: none;
  }

  .list-link-footer li a {
    text-decoration: none !important; ;
    color: #FFF !important; ;
    transition: color .5s ease-in-out;
  }

  .list-link-footer h2 {
    color: #FFF;
  }

  .list-link-footer li a:hover {
    color: #a1a1a1;
  }

  .footer-body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #map {
    width: 800px;
    height: 200px;
  }

  .map {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 300px;
    border-radius: 10px;
    background: #FFF;
  }

  @media screen and (max-width: 320px) {
    .map, #map {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .map, #map {
      display: none;
    }
    .footer-body {
      flex-direction: column;
      justify-content: center;
    }
    .list-link-footer li {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
  }


  .links {
    order: 1;
  }

  .map {
    order: 2;
  }

  .copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
  }
}