html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-top: 0 !important;
  background-color: var(--primary) !important;
}

ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'NEXT-ART', sans-serif;
  font-weight: 600;
  color: #fff;
}

h3 {
  font-family: 'Onest';
  font-weight: 500;
}


.sub-text {
  font-family: 'Onest', sans-serif;
  font-weight: 400;
  font-size: medium;
}

.btn-primary {
  background-color: #c54809 !important;
  border-color: transparent !important;
}

.form-control:focus {
  border-color: var(--border-color-primary) !important;
}

.text {
  font-family: 'Onest', sans-serif;
  font-weight: 400;
}

.text-notify {
  font-family: 'NEXT-ART', sans-serif;
  font-weight: 800;
}


.form-control, textarea {
  max-width: 400px;
  background-color: #000 !important;
  color: #fff !important;
  letter-spacing: 1px;
}


.base {
  max-width: 1440px;
  margin-inline: auto;
}


a {
  position: relative;
  text-decoration: none !important;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
