.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }

  .pagination li {
    margin: 0 5px;
  }

  .pagination>li>a {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid var(--white);
    border-radius: 5px;
    text-decoration: none;
    color: var(--primary);
    
  }
  
  .pagination>li>a:hover {
    background-color: var(--quinary) !important;
    color: var(--white);
  }
  
  .pagination>a {
    background-color: var(--quinary) !important;
  }
  .pagination a::before {
    display: none;
  }
  .pagination>.active>a {
    background-color: var(--quinary) !important;
    color: var(--white);
    border-color: var(--tertiary) !important;
  }
