{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/global/variables.css'%}">
    <link rel="stylesheet" href="{% static 'css/global/global.css'%}">
    <link rel="stylesheet" href="{% static 'css/misc/button.css' %}">
    <link rel="stylesheet" href="{% static 'css/misc/button-secondary.css' %}">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="{% static 'admin/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BARAKA</title>
</head>
<body>
    {%block header%}
    {% include 'components/global/header.html' %}
    {%endblock%}
    
    {% block notify %}
        {% include 'components/misc/notify.html' %}
    {% endblock notify %}
        
    {%block content%}
    {%endblock%}

    {%block footer%}
    {% include 'components/global/footer.html' %}
    {%endblock%}

</body>
</html>