{% load static %}
<link rel="stylesheet" href="{% static 'css/master/master-info.css' %}">
<div class="master">
    <div class="master-info">
        <div class="master-name">
            <h1>{{ master.name }}</h1>
        </div>
        <div class="master-description">
            <p>{{ master.description|linebreaksbr }}</p>
        </div>
        <div class="tattoo-type">
            <div class="block-title">
                <h3>Типы тату которые я делаю</h3>
            </div>
            <div class="types">
                {% for tattoo in master.tattoo_type.all  %}
                <a href=""><span>{{ tattoo.name }}</span></a>
                    
                {% endfor %}
            </div>
        </div>
        <div class="working-time">
            <h1>Время работы</h1>
            {% regroup times by day_of_week as sessions_by_day %}
            {% for day in sessions_by_day %}
            <div class="session_day">
                <div class="block-title">
                    <h4>{{ day.grouper }}</h4>
                </div>
                <div class="times">
                    {% for session in day.list %}
                        <p>{{ session.start_time }} - {{ session.end_time }}</p>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="master-photo">
        <img src="{{ master.photo.url }}" alt="">
    </div>
</div>