
<div id="day-of-week-buttons" class="day-buttons">
    {% if days_of_week %}
        {% for day in days_of_week %}
            <div class="day-button {% if forloop.first %}active{% endif %}" data-day="{{ day }}" data-master-id="{{ master.id }}">{{ day }}</div>
        {% endfor %}
    {% else %}
            <h3 class="text">Мастер пока не принимает </h3>
    {% endif %}
        

</div>

<div id="sessions-container" class="sessions">
    {% include 'components/master/sessions.html' %}
</div>

<script>
    $(document).ready(function() {
        var firstDay = "{{ days_of_week.0 }}";
        var masterId = "{{ master.id }}";

        $.ajax({
            url: '{% url "filter_sessions" %}',
            type: 'GET',
            data: { day_of_week: firstDay, master_id: masterId },
            success: function(response) {
                $('#sessions-container').html(response);
            }
        });

        $('.day-button').on('click', function(event) {
            // Проверяем, является ли кнопка активной
            if ($(this).hasClass('active')) {
                // Если кнопка активна, блокируем ее нажатие
                event.preventDefault();
                return;
            }

            var dayOfWeek = $(this).data('day');
            var masterId = $(this).data('master-id');
            $.ajax({
                url: '{% url "filter_sessions" %}',
                type: 'GET',
                data: { day_of_week: dayOfWeek, master_id: masterId },
                success: function(response) {
                    $('#sessions-container').html(response);
                }
            });

            // Удаляем класс active со всех кнопок
            $('.day-button').removeClass('active');

            // Добавляем класс active к выбранной кнопке
            $(this).addClass('active');
        });
    });
</script>

<style>
    .sessions {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        gap: 10px;
        color: var(--white);
        margin: 20px 0;
    }
    .day-buttons {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        color: var(--white);
    }
    .day-button {
        padding: 5px 10px;
        border-radius: 5px;
        background-color: var(--secondary);
        cursor: pointer;
    }

    .day-button.active {
        background-color: var(--quaternary);
        cursor: context-menu;
    }
</style>