{% load static %}
{% include "components/header.html" %}
<link rel="stylesheet" href="{% static 'css/master.css' %}">
<title>Мастер {{ master.name }}</title>
<div class="master">
    <div class="master-photo">
        <img src="{{ master.photo.url }}" alt="">
    </div>
    <div class="about-master">
        {{ master.description }}
    </div>
</div>
<div class="social">
    {% if social_accounts %}
{% for social in social_accounts %}
    <div class="social-card">
        <div class="icon"><img src="{{ social.icon.url }}" alt=""></div>
        <div class="social-title">{{ social.link }}</div>
    </div>
    {% endfor %}
{% else %}
<div class="social-info">
    <h3>Мастер не указал свои социальные сети</h3>
</div>
{% endif %}
</div>

<div class="master-works">
    <h1>Работы мастера</h1>
    {% for work in master.works.all %}
    <div class="work-card">
        <div class="photo">
            <img src="{{ work.photo.url }}" alt="">
        </div>
    </div>
{% empty %}
    <p>У мастера пока нет работ</p>
{% endfor %}
</div>
{% include "components/footer.html" %}

